.auth {
  max-width: 1440px;
  margin-inline: auto;
}

.container {
  max-width: calc(1366px + 64px);
  min-height: 896px;
  display: flex;
  padding: 32px;
  margin-inline: auto;
  justify-content: space-between;
  gap: 140px;
  @media screen and (max-width: 1200px) {
    gap: 50px;
  }
  @media screen and (max-width: 1050px) {
    justify-content: center;
  }
  }

.auth-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  @media screen and (max-width: 1050px) {
   padding: 10px;
  }

}

// app-auth-form {
//     flex-grow: 1;
// }

.auth-img {
  max-width: 768px;
  width: 100%;
  height: auto;
  object-fit: cover;
  img {
    max-width: 768px; 
  }
  @media screen and (max-width: 1200px) {
    img {
      width: 95%;
    }
  }
  @media screen and (max-width: 1050px) {
    display: none;
  }
}
